block variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} - Node t'chat
        title Document
        link(rel="stylesheet", href="/css/index.css")

        block scripts
    body 
        nav
            .container
                a(href="/") Accueil 
                a(href="/chat.pug") Chat 
        
        main.container
        block content